@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<ul class="nav justify-content-center float-start ">
    <li class="nav-item">
      <a class="nav-link" href="/">Acasa</a>
    </li>
    @* <li class="nav-item">
        <a id="profile" class="nav-link" asp-controller="accounts" asp-action="profile">Profile</a>
    </li>
    <li class="nav-item">
        <a id="aa" class="nav-link" href="/test">Test</a>
    </li> *@
  </ul>

@* <ul class="nav justify-content-end">
    <li class="nav-item">
        <a class="nav-link" id ="link-auth1"  aria-current="page" asp-controller="Accounts" asp-action="login">Autentificare</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" id="link-auth2" aria-current="page" asp-controller="Accounts" asp-action="signup">Inregistrare</a>
    </li>
</ul> *@
<br>
